# Local .terraform directories
.terraform/

# Terraform plan files
*.tfplan

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Override files (e.g., for sensitive data)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.tfvars
*.tfvars.json

# CLI configuration files
.terraform.rc
terraform.rc

# Backup files
*.backup

# macOS metadata files
.DS_Store
*.pem